body {
	margin: 0;
	padding: 0;
	line-height: 1;
	font-family: Arial, Helvetica, sans-serif;
}

.users {
	padding: 1rem;
}

.users .user {
	position: relative;
	padding: 1rem 1rem 1rem 2.5rem;
	background: #efefef;
	margin-bottom: 1rem;
}

.users .user:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 2rem;
	height: 100%;
	background: #e8e8e8;
}